.magnets {
  border: 1px solid black;
  width: 80%;

  position: relative;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  cursor: default;

  background: url("cashcat.jpg");
  background-size: cover;
}

.magnet {
  /*border: 1px solid black;*/
  position: absolute;
  padding: 2px 5px;
  display: block;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.6);
  background: white;
  border: 1px solid #555;
  font-family: 'Helvetica', 'Helvetica Neue';

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  cursor: default;
}